Repository microsoft/industry, pull requests merged in 2022-02, with the labels that each got.

#217 Afo lz overview
  telco/docs/azure-services-at-operator.png
  telco/readme.md
Labels: documentation, telco

#218 updates afo lz UX
  telco/referenceImplementation/telco-portal.json
Labels: telco

#223 updates afo lz diagram
  telco/docs/telco-industry-reference-architecture.png
  telco/docs/telco-industry-reference-architecture.vsdx
Labels: documentation, telco

#225 Updated Links in Readme
  README.md
  fsi/readme.md
Labels: enhancement

#235 Added content for retail
  README.md
  retail/capabilities/demand-gen/personalization/Integrating Shopify with IR/readme.md
  retail/capabilities/readme.md
  retail/images/retail-flywheel.jpg
  retail/media/capability-product-map-1.png
  retail/media/capability-product-map-2.png
  retail/media/mc4r-reference-architecture.png
  retail/prereqs.md
  retail/readme.md
  retail/referenceImplementation/README.md
  retail/referenceImplementation/iom/README.md
  retail/referenceImplementation/ir/README.md
  retail/referenceImplementation/ir/media/choosing_modelling_region.png
  retail/referenceImplementation/ir/media/concept_shopify.png
  retail/referenceImplementation/ir/media/ir_detailed_process_flow.png
  retail/referenceImplementation/ir/media/ir_features.png
  retail/referenceImplementation/ir/media/ir_process_flow.png
  retail/solutions/README.md
Labels: documentation
