Repository microsoft/industry, pull requests merged in 2022-05, with the labels that each got.

#273 Observability Landing Zones for Operators
  README.md
  telco/readme.md
  telco/solutions/observability/images/afo-netanalytics-ri-pp-ergw.png
  telco/solutions/observability/images/afo-netanalytics-ri-pp-existing.png
  telco/solutions/observability/images/afo-netanalytics-ri-pp-new-direct.png
  telco/solutions/observability/images/afo-netanalytics-ri-pp-new-provider.png
  telco/solutions/observability/images/afo-netanalytics-ri-pp-new.png
  telco/solutions/observability/images/afo-netanalytics-ri-pp.png
  telco/solutions/observability/images/afo-observability-er-ms.png
  telco/solutions/observability/images/afo-observability-er-pp.png
  telco/solutions/observability/images/afo-observability-internet.png
  telco/solutions/observability/images/afo-observability-lz-er-msft.png
  telco/solutions/observability/images/afo-observability-lz-er-pp.png
  telco/solutions/observability/images/afo-observability-ri-msft-bastion.png
  telco/solutions/observability/images/afo-observability-ri-msft-create.png
  telco/solutions/observability/images/afo-observability-ri-msft-direct.png
  telco/solutions/observability/images/afo-observability-ri-msft-monitor.png
  telco/solutions/observability/images/afo-observability-ri-msft-new.png
  telco/solutions/observability/images/afo-observability-ri-msft-provider.png
  telco/solutions/observability/images/afo-observability-ri-msft-routefilter.png
  telco/solutions/observability/images/afo-observability-ri-msft-vnet.png
  telco/solutions/observability/images/afo-observability-ri-msft.png
  telco/solutions/observability/images/afo-observability-ri-setup.png
  telco/solutions/observability/images/afo-observability-vpn.png
  telco/solutions/observability/readme.md
  telco/solutions/observability/userGuide/readme.md
Labels: documentation, enhancement, committed, telco

#280 Internet connectivity model
  telco/solutions/observability/images/afo-observability-lz-internet.png
  telco/solutions/observability/images/afo-observability-ri-internet.png
  telco/solutions/observability/readme.md
  telco/solutions/observability/userGuide/readme.md
Labels: documentation, committed, telco

#282 update pp lz with group rbac
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/ppDeploymentScript.json
  foundations/powerPlatform/referenceImplementation/ppNorthStar-arm.json
  foundations/powerPlatform/referenceImplementation/ppNorthStar-portal.json
Labels: enhancement, cloud foundation
