Repository microsoft/industry, pull requests merged in 2022-08, with the labels that each got.

#310 Disable ARM linting
  .github/workflows/lint.yml
Labels: enhancement

#309 Adding managed environment
  foundations/powerPlatform/readme.md
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/nsPowerPlatform.ps1
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/ppDeploymentScript.json
  foundations/powerPlatform/referenceImplementation/ppNorthStar-arm.json
  foundations/powerPlatform/referenceImplementation/ppNorthStar-portal.json
Labels: enhancement, cloud foundation

#318 Add guidance for managing Azure firewall rules at scale
  telco/docs/gitWorkflow.png
  telco/docs/ruleCollectionGroups.png
  telco/docs/telco-networking.md
Labels: enhancement, telco

#319 organizing telco solutions
  README.md
  telco/readme.md
Labels: documentation, telco

#322 afo-lz update for governance
  telco/referenceImplementation/afoArm.json
  telco/referenceImplementation/industrySpecific/managementGroupTemplates/policyDefinitions/DENY-PublicEndpointsPolicySetDefinition.json
  telco/referenceImplementation/industrySpecific/managementGroupTemplates/policyDefinitions/DINE-PrivateDNSZonesPolicySetDefinition.json
  telco/referenceImplementation/industrySpecific/managementGroupTemplates/policyDefinitions/dataPolicies.json
  telco/referenceImplementation/industrySpecific/managementGroupTemplates/policyDefinitions/policies.json
Labels: cloud foundation
