Repository microsoft/industry, pull requests merged in 2022-04, with the labels that each got.

#258 Retail - added documentation for Intelligent Recommendation deployment
  retail/referenceImplementation/README.md
  retail/solutions/ir/README.md
  retail/solutions/ir/media/deployment_strategy.png
  retail/solutions/ir/media/dma_ir_placement.png
  retail/solutions/ir/media/dr_option_for_ir.png
  retail/solutions/ir/media/ha-single-region.png
  retail/solutions/ir/media/ir_authc_access_apps.png
  retail/solutions/ir/media/modeling_endpoint_tiers.png
  retail/solutions/ir/media/network_interactions_ir.png
Labels: documentation, retail

#260 Fixed typos
  retail/referenceImplementation/README.md
  retail/solutions/iom/README.md
  retail/solutions/iom/media/iom-conceptual-arch.png
Labels: documentation

#261 afo updates to observability lz
  telco/solutions/observability/images/afo-observability-lz-er-msft.png
  telco/solutions/observability/images/afo-observability-lz-er-pp.png
  telco/solutions/observability/images/afo-observability-lz.png
  telco/solutions/observability/readme.md
Labels: documentation, telco

#262 observability lz edits
  telco/solutions/observability/readme.md
Labels: documentation, telco

#267 rename
  foundations/powerPlatform/images/1deploymentsetup.PNG
  foundations/powerPlatform/readme.md
  foundations/powerPlatform/referenceImplementation/ppNorthStar-portal.json
  foundations/powerPlatform/referenceImplementation/readme.md
Labels: enhancement, do not merge, cloud foundation

#270 Clarity Documentation
  retail/solutions/clarity/README.md
  retail/solutions/clarity/media/image35.png
  retail/solutions/clarity/media/image68.png
  retail/solutions/clarity/media/image69.png
  retail/solutions/clarity/media/image70.png
  retail/solutions/clarity/media/image78.png
  retail/solutions/clarity/media/image79.png
  retail/solutions/clarity/media/image81.png
  retail/solutions/clarity/media/image82.png
  retail/solutions/clarity/media/image89.png
  retail/solutions/clarity/media/image92.png
  retail/solutions/clarity/media/image93.png
  retail/solutions/clarity/media/image94.png
  retail/solutions/clarity/media/image95.png
  retail/solutions/clarity/media/image96.png
Labels: documentation
