Repository microsoft/industry, pull requests merged in 2022-03, with the labels that each got.

#239 Added content for retail
  README.md
  retail/readme.md
  retail/referenceImplementation/README.md
  retail/referenceImplementation/iom/README.md
  retail/referenceImplementation/media/elevate.PNG
  retail/referenceImplementation/media/properties.PNG
  retail/solutions/README.md
  retail/solutions/iom/README.md
  retail/solutions/iom/media/iom-overview.png
  retail/solutions/ir/README.md
  retail/solutions/ir/media/choosing_modelling_region.png
  retail/solutions/ir/media/concept_shopify.png
  retail/solutions/ir/media/ir_detailed_process_flow.png
  retail/solutions/ir/media/ir_features.png
  retail/solutions/ir/media/ir_process_flow.png
Labels: documentation

#237 Added Unified Customer Profile Scenario
  fsi/solutions/bankingCustomerEngagement/readme.md
  fsi/solutions/unifiedCustomerProfile/readme.md
Labels: documentation, fsi

#240 Updating solutions names
  telco/docs/telco-industry-reference-architecture.png
  telco/docs/telco-industry-reference-architecture.vsdx
  telco/readme.md
Labels: telco

#242 Update - added more content for reference implementation and fixed typos
  retail/referenceImplementation/README.md
Labels: documentation

#229 v1 of ppnorthstar
  foundations/powerPlatform/images/10lzbatch.PNG
  foundations/powerPlatform/images/11lzcustom.PNG
  foundations/powerPlatform/images/12lzrecommendations.PNG
  foundations/powerPlatform/images/13lzpro.PNG
  foundations/powerPlatform/images/14lzindustry.PNG
  foundations/powerPlatform/images/1deploymentsetup.PNG
  foundations/powerPlatform/images/2security.PNG
  foundations/powerPlatform/images/3tenantenvsettings.PNG
  foundations/powerPlatform/images/4adminenvsettings.PNG
  foundations/powerPlatform/images/5logging.PNG
  foundations/powerPlatform/images/6azureoptions.PNG
  foundations/powerPlatform/images/7tenantanalytics.PNG
  foundations/powerPlatform/images/8lzdefault.PNG
  foundations/powerPlatform/images/9lzcitizen.PNG
  foundations/powerPlatform/images/create_umi.png
  foundations/powerPlatform/images/navigate_mi.png
  foundations/powerPlatform/images/register-adminapplication.png
  foundations/powerPlatform/images/umi_clientid.png
  foundations/powerPlatform/readme.md
  foundations/powerPlatform/referenceImplementation/NorthStarPowerPlatform.ps1
  foundations/powerPlatform/referenceImplementation/auxiliary/azureMonitor/aadDiagnostics.json
  foundations/powerPlatform/referenceImplementation/auxiliary/azureMonitor/logAnalytics.json
  foundations/powerPlatform/referenceImplementation/auxiliary/azureMonitor/security.json
  foundations/powerPlatform/referenceImplementation/auxiliary/azureMonitor/storageAccountV2.json
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/adminEnvDlpPolicy.json
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/defaultEnvDlpPolicy.json
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/highTenantDlpPolicy.json
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/lowTenantDlpPolicy.json
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/mediumTenantDlpPolicy.json
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/ppDeploymentScript.json
  foundations/powerPlatform/referenceImplementation/auxiliary/powerPlatform/rpRegistrations.json
  foundations/powerPlatform/referenceImplementation/ppNorthStar-arm.json
  foundations/powerPlatform/referenceImplementation/ppNorthStar-portal.json
  foundations/powerPlatform/referenceImplementation/readme.md
Labels: cloud foundation

#252 AfO observability landing zone
  telco/solutions/observability/images/afo-observability-er-ms.png
  telco/solutions/observability/images/afo-observability-er-pp.png
  telco/solutions/observability/images/afo-observability-internet.png
  telco/solutions/observability/images/afo-observability-lz.png
  telco/solutions/observability/images/afo-observability-vpn.png
  telco/solutions/observability/readme.md
Labels: documentation, telco
