Repository microsoft/industry, pull requests merged in 2022-07, with the labels that each got.

#285 Final version of retail churn model architecture
  retail/readme.md
  retail/solutions/churn/readme.md
  retail/solutions/unifiedCustomerProfile/README.md
  retail/solutions/unifiedCustomerProfile/media/ChurnArchitecture.png
  retail/solutions/unifiedCustomerProfile/media/CustomerInsightsEnvironment.png
  retail/solutions/unifiedCustomerProfile/media/DeployRetailChurn.png
  retail/solutions/unifiedCustomerProfile/media/DeploymentCompleted.png
  retail/solutions/unifiedCustomerProfile/media/GettingSolutionReady.png
  retail/solutions/unifiedCustomerProfile/media/UnifiedCustomerProfile.png
Labels: committed, retail

#297 Sanem/retail architecture
  README.md
  retail/media/mc4r-reference-architecture.png
  retail/prereqs.md
  retail/readme.md
  retail/solutions/README.md
  retail/solutions/flexibleFulfillment/iom/README.md
  retail/solutions/flexibleFulfillment/media/flexible-fulfillment.png
  retail/solutions/flexibleFulfillment/tfw/README.md
  retail/solutions/realtimePersonalization/README.md
  retail/solutions/realtimePersonalization/ir/README.md
  retail/solutions/realtimePersonalization/media/realtime.png
  retail/solutions/shopperOpsAnalytics/README.md
  retail/solutions/shopperOpsAnalytics/media/shooperanalytics.png
  retail/solutions/unifiedCustomerProfile/README.md
  retail/solutions/unifiedCustomerProfile/media/ChurnArchitecture.png
  retail/solutions/wrkforceMgmt/README.md
  retail/solutions/wrkforceMgmt/media/TeamsIntegration-Architecture.png
  retail/solutions/wrkforceMgmt/media/TeamsIntegration-ArchitectureFunctional.png
  retail/solutions/wrkforceMgmt/media/tfw-userprovision-flow.png
Labels: documentation, retail

#46 Added IoMT Ref Implementation
  healthcare/referenceImplementation/industrySpecific/Policies/PolicyDefinitions/deploy.policyDefinition.mg.json
  healthcare/referenceImplementation/industrySpecific/Policies/PolicyDefinitions/deploy.policyDefinition.sub.json
  healthcare/referenceImplementation/industrySpecific/Policies/PolicyDefinitions/healthCareApis/params.diagnosticSettings.json
  healthcare/solutions/IoMT/README.md
  healthcare/solutions/IoMT/main.bicep
  healthcare/solutions/IoMT/main.json
  healthcare/solutions/IoMT/modules/auxiliary/healthcareapiFhirRoleAssignmentStorage.bicep
  healthcare/solutions/IoMT/modules/services/containerregistry.bicep
  healthcare/solutions/IoMT/modules/services/eventhubnamespace.bicep
  healthcare/solutions/IoMT/modules/services/healthcareapi.bicep
  healthcare/solutions/IoMT/modules/services/healthcarebot.bicep
  healthcare/solutions/IoMT/modules/services/iothub.bicep
  healthcare/solutions/IoMT/modules/services/servicebusnamespace.bicep
  healthcare/solutions/IoMT/params.json
  healthcare/solutions/IoMT/portal.json
Labels: documentation, enhancement, healthcare

#301 Network Analytics landing zone - hub and spoke
  telco/solutions/observability/images/afo-netanalytics-hub-spoke-svc-endpoint.png
  telco/solutions/observability/images/afo-netanalytics-hub-spoke.png
  telco/solutions/observability/readme.md
Labels: documentation, backlog, committed, telco

#303 Refreshing AfO Landing zones arch diagram
  telco/docs/telco-industry-reference-architecture.png
  telco/readme.md
Labels: documentation, telco
